.currentTime {
    block-size: 2px;
    background: var(--red10);
    inline-size: 5rem;
    position: absolute;
    inset-inline-start: 70px;
    inset-block-start: 390px;
    z-index: 2;
}

.currentTime::before {
    display: block;
    content: '';
    inline-size: 1rem;
    block-size: 1rem;
    background: var(--red10);
    border-radius: 50%;
    transform: translateY(-50%);
}