.taskCells {
    border-block-end: 1px solid currentColor;
    padding: .25rem;
}

.taskCells.is-active::before {
    content: '(Sin título)';
    font-size: small;
    background: #c6dafc;
    padding: .25rem;
    display: block;
    border-radius: .25rem;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}